.header {
  position: fixed;
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: var(--theme-primary);
  justify-content: space-between;
  box-shadow: var(--base-shadow);
  z-index: var(--level-3);
}

.header_links {
  display: flex;
  gap: 1rem;
}

.header_link {
  text-transform: uppercase;
  font-weight: bold;
}